@color-base: #2d5e8b;

body{
	/*overflow: hidden*/
}

input{
	box-shadow: none !important;
	border: none !important;
	border-bottom: 1px solid #ddd !important;
	background: transparent !important;
}

input:focus{
	border-bottom: 1px solid #66afe9 !important;
	/*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6) !important;*/
	/*outline: 0 none !important;*/
}

textarea:focus{
	border-bottom: 1px solid #66afe9 !important;
}

textarea{
	background-attachment: local !important;
	background-image:
	linear-gradient(to right, white 10px, transparent 10px),
	linear-gradient(to left, white 10px, transparent 10px),
	repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px) !important;
	line-height: 31px !important;
	padding: 8px 10px !important;
	border: none !important;
	resize: none;
	height: 105px;
	box-shadow: none !important;
}

button{
    background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: #ffffff !important;
    font-weight: normal !important;
    text-shadow: 0 1px 0 black !important;
}
 
#wrapper-center {
	display: block;	
	overflow: auto;
	margin-top: 90px;
}

.product-description{
	height: 65px;
}

.multiline-ellipsis {	
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.item-product{

	position: relative;

	.item-product-name{
		text-align: center;
	}

	.action-button{		
		display: none;
		width: 45%;
		margin: 0 auto;
		position: absolute;		
		left: 30%;
		top: 25%;
		background: gray;
		border-radius: 5px;
		text-align: center;		
	    /*background: rgba(157, 157, 157, 0.5);*/
	    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;

		i{
			cursor: pointer;
			padding: 5px;			
		}		
	}

	.product-price{
		text-align: center;
	}
}

.item-product:hover .action-button{
	display: block !important;
}

#container-section{
	margin-left: 110px
}

#left-side {
    background: #000 none repeat scroll 0 0;
    height: 100%;
    left: 250px;
    margin-left: -250px;
    overflow-y: auto;
    position: fixed;
    transition: all 0.5s ease 0s;    
    z-index: 1000;
    width: 110px;
}

