
<div id="wrapper-create-product" data-prod-id="" class="container-fluid" >

	<h3 class="text-center">Create Product</h3>

	
		<div class="form-group">
			<label for="product-name">Name Product</label>
			<input type="text" class="form-control" id="product-name" >
		</div>
		<div class="form-group">
			<label for="product-price">Price</label>
			<input type="text" class="form-control" id="product-price" >
		</div>		
		<div class="form-group">
			<label for="product-desc">Description</label>
			<textarea id="product-desc" class="form-control" rows="3"></textarea>
		</div>
		<button id="button-create" onclick="saveProduct();" type="submit" class="btn btn-default" >Create Product</button>
	

</div>
