<div id="{3}" class="col-sm-6 col-md-4 item-product">
  <div class="thumbnail">
    <img src="image/default-prod.png" alt="...">
    <div class="caption">
      <h3 class="item-product-name">{0}</h3>
      <p class="product-description multiline-ellipsis">{1}</p>
      <p class="product-price">
        <span class="price">{2}</span>
        <span>$</span>
      </p>
      <div>
        <p class="action-button">
          <!--i href="#" class="fa fa-cart-plus fa-2x" ></i--> 
          <i href="#" class="fa fa-pencil fa-2x" onclick="editCreateProduct(this)" ></i>
          <i href="#" class="fa fa-trash fa-2x" onclick="removeProduct(this)" ></i>
        </p>
      </div>
    </div>
  </div>
</div>